CLOUD_NAME=your_cloud_name_here
CLOUD_API_KEY=your_cloud_api_key_here
CLOUD_API_SECRET=your_cloud_api_secret_here
Map_Token=your_map_token_here

ATLASDB_URL=your_atlasdb_url_here

SECRET=your_secret_here

BACKEND_URL=your_backend_url_here
